.fakultet{
    width: 200px;
}
.table {
    width: 100%;
    border: 11px solid #000000;
    background-color: #000000;
}
.fan-nomi .talaba-ism{
    width: 220px;
}
.talaba-id .guruh {
    width: 100px;
}
